
 b {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

 /*a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}
*/

 /*a:hover {
	background-color:#009;
	color:#fff;
}*/